* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: white;
}

.orange {
    color: #f26202;
}

body {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #000;
}

/*header*/
header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/zebatka_1024.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 8%;
    background-attachment: fixed;
}

header div.main_content {
    position: absolute;
    top: 40%;
    right: 5%;
}

header div i {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
    font-size: 3rem;
    color: #f26202;
    cursor: pointer;
}

header div i.fa-times {
    color: black;
    z-index: 2;
    transition: .5s;
}

header div i:hover {
    color: rgba(255, 255, 255, .6);
}

header div i.off {
    display: none;
}

nav {
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 40px;
    background-color: rgba(242, 98, 2, .8);
    height: 260px;
    width: 150px;
    transform: scale(1);
    transform-origin: 80% 5%;
    transition: .5s;
}

nav.off {
    transform: scale(0);
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 260px;
}


button {
    display: block;
    width: 130px;
    height: 50px;
    background-color: rgba(242, 98, 2, .8);
    border: 2px solid black;
    font-size: 1.2rem;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-align: center;
    line-height: 50px;
    color: black;
    font-weight: normal;
    transition: .5s;
}

button:hover {
    background-color: rgba(255, 255, 255, .6);
    color: rgb(0, 0, 0);
    border-color: black;
    cursor: pointer;
}

header div img {
    display: block;
    margin: 0 auto;
}

h1 {
    padding: 40px 40px 10px 40px;
    text-align: center;
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header div h1 {
    margin: 0 auto;
    font-size: 3rem;
}

/*sekcja rowerowa*/

section.bikes {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
}

div.slogan {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}

div.bicycles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}

.bicycle {
    display: block;
    max-height: 45vh;
    max-width: 32vw;
    padding: 5px 0;
    transform: scale(1);
    transition: .3s;
}

.bicycle:hover {
    transform: scale(1.02);
    cursor: pointer;
}

h2 {
    padding: 20px 0 40px 0;
    color: white;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
}

div.slogan p {
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 25px;
    margin: 0 30px 30px 30px;
    padding: 15px 20px;
    text-align: center;
}

/*sekcja warsztatu*/
section.workshop {
    position: relative;
    height: 100vh;
    background-image: url(../img/warsztat.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
}

section.workshop h2 {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 30%;
    height: 20vh;
}

section.workshop p {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 30%;
    max-height: 80vh;
    text-align: center;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 25px;
    padding: 20px;
}

/*sekcja części rowerowych*/

section.parts {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    margin-top: 10px;
    margin-bottom: 20px;
}

div.column_left {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

div.column_right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

div.column_right h2 {
    text-align: center;
    padding: 0 25px 50px;
}

div.column_right p {
    font-size: 1.4rem;
    padding: 20px 10px;
    text-align: center;
    line-height: 2.2rem;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 25px;
    margin: 0 40px;
}

.part {
    display: block;
    width: 100%;
    height: 25%;
    margin: 5px;
    transform: translateX(-700px);
    transition: 1.2s;
}

.part.second {
    transition-delay: .3s;
}

.part.third {
    transition-delay: .6s;
}

.part.fourth {
    transition-delay: .9s;
}

.part.active {
    transform: translateX(0);
}

/*sekcja o nas*/
section.we {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 100px;
}

div.portraites {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

section div.photo {
    width: 30%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
}

div.photo.off {
    -webkit-transform: scale(0);
    transform: scale(0);
}

section div.photo img {
    padding: 80px 80px 40px 80px;
    width: 100%;
}

section.we h2 {
    padding: 50px;
}

section.we p {
    font-size: 1.5rem;
    text-align: center;
    text-align-last: center;
    padding: 0 20px;
}

section.we p.aboutus {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 25px;
    margin: 0 30px;
    padding: 20px 0;
}

/*sekcja głowy*/
.banner {
    height: 100vh;
    background-image: url(../img/head_1024.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.banner h1 {
    padding: 20px 0;
    font-size: 4rem;
    background-color: #f26202;
    line-height: 6rem;
    color: #000;
    font-weight: bold;
}

/*sekcja kontaktu*/
.contact {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

section.contact h1 {
    color: #f26202;
    padding: 20px;
}

section.contact h2 {
    padding: 10px 0;
}

section.contact div.top h2 {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 25px;
    width: 85%;
    margin: 0 auto;
}

div.main_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 85;
}

div.item {
    position: relative;
    padding: 20px 0;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.bgc {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 25px;
    margin: 0 0 0 100px;
}

img.map {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    width: 65%;
    border-radius: 25px;
}

div.adress p {
    padding: 20px;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: left;
}

div.adress p i {
    padding: 0 20px 0 0;
    font-size: 1.8rem;
    color: #f26202;
}

div.footer h2 {
    padding: 20px;
    font-size: 1rem;
    background-color: #111;
    letter-spacing: 3px;
}

/* sekcja modala */

section.modal_wrapper.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

div.modal {
    position: fixed;
    height: 90%;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #f26202;
    border: 10px solid black;
    border-radius: 25px;
    overflow-y: scroll;
    font-size: 1.2rem;
    padding: 0 30px;
    letter-spacing: 1px;
    transition: 1s;
}

div.modal.off {
    /* display: none; */
    transform: translate(-50%, -50%) scale(0);
}

div.modal h2 {
    font-size: 3.5rem;
    padding-bottom: 5px;
}

div.modal h3 {
    font-size: 1.2rem;
    text-align: center;
}

div.modal h4 {
    font-size: 1.8rem;
    padding-bottom: 5px;
    color: #444;
}

div.modal .main_ol {
    list-style: upper-roman;
    list-style-position: inside;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 1.3rem;
}

div.modal .main_ol a {
    text-decoration: none;
    color: #444;
}

div.modal .main_ol a:hover {
    color: #fff;
}

div.modal .main_ol ol {
    padding: 10px 0;
}

div.modal .main_ol ol li {
    text-indent: 1rem;
    padding: 5px 0;
}

div.modal li.main_li {
    font-size: 1.6rem;
    color: #444;
    padding: 2px 0;
}

div.modal ul li {
    list-style-type: disc;
    font-size: 1.1rem;
    padding: 10px 0;
}

section.modal_wrapper div i {
    display: none;
}

section.modal_wrapper div i.on {
    display: block;
    font-size: 3rem;
    position: fixed;
    z-index: 1;
    right: 160px;
    top: 60px;
    cursor: pointer;
}

section.modal_wrapper i.on:hover {
    color: #444;
}